<div class="card">
    <div class="card-body">
        <h5>
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            Todo list
        </h5>
        <div class="status">
            <small *ngIf="tasks.length">
                Completed {{ completedTasks }} out of {{ tasks.length}} tasks.
            </small>
            <button *ngIf="completedTasks>0" type="button" class="btn btn-sm btn-light" (click)="deleteCompletedTasks()">
                Clear completed
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progress}"></div>
        </div>
        <div class="add-new-task" (submit)="addTask()">
            <div class="input-group">
                <input type="text" [(ngModel)]="newTaskTitle" name="newTaskTitle" class="form-control"
                       placeholder="Add new task" aria-label="Add new task">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" (click)="addTask()" [disabled]="!newTaskTitle">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="task" *ngFor="let task of tasks">
            <div class="input-group" [ngClass]="{'completed': task.isDone}">
                <span class="input-group-addon">
                    <input type="checkbox" [checked]="task.isDone" (change)="updateTaskStatus(task)">
                </span>
                <input type="text" class="form-control" [(ngModel)]="task.title" (ngModelChange)="updateProgress()">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-light" (click)="deleteTask(task)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
